*{
    margin: 0;
    padding: 0;
}
body{
    background: var(--dark);
}
nav{
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 7.022rem 9.375rem 7.022rem;
}
.container__item{
    list-style: none;
    padding: 1rem;
}
.container__item a{
    font-family: var(--fontbase);
    font: var(--medium);
    color: var(--white);
    text-decoration: none;
}
.container__item a:hover{
    padding-bottom: 8px;
    border-bottom: 2px solid var(--white);
}