:root {
  --white: #fff;
  --gray1: #a9a9a9;
  --gray2: #828282;
  --dark: #181719;
  --black: #000000;

  --fontBase: "montserrat", sans-serif;
  --fontAux: "lora", sans-serif;

  --headline1: 500 48px / 61.44px var(--fontAux);
  --headline2: 500 36px / 46.08px var(--fontAux);
  --headline3: 700 24px / 30.72px var(--fontAux);
  --headline4: 700 18px / 23.04px var(--fontAux);

  --medium: 400 24px / 29.26px var(--fontBase);
  --normal: 400 14px / 17.07px var(--fontBase);
  --normal-bold: 700 14px / 17.07px var(--fontBase);
  --normal-semibold: 500 14px / 17.07px var(--fontBase);
  --small-semibold: 500 12px / 14.63px var(--fontBase);
  --smaller-semibold: 500 10px / 12.19px var(--fontBase);

  --link1: 700 18px / 21.94px var(--fontBase);
  --link2: 700 14px / 17.07px var(--fontBase);
}
